html {
  background-color: #e2ac7f;
}

body {
  background-color: #f5f5dc;
  /* height: 710px; */
  width: 560px;
  text-align: center;
  margin: auto;
  border: 3px dashed black;
  font-family: sans-serif;
}

h1 {
  font-style: italic;
  font-weight: bold;
  margin: 0;
  border-bottom: 3px dashed #000;
}

p {
  padding: 15px;
  text-align: justify;
}

ul {
  list-style-type: none;
}

span {
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
}

.link {
  text-align: center;
}

a {
  text-decoration: none;
}
